*:focus{
    outline: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("img/pr2bj1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.D{
    background-image: url("img/pr2bj1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500px 600px;
    background-color: white;
    box-shadow: 0 0 10px rgb(13, 23, 165);
    position: relative;
    padding-left: 10px;
    padding-top: 60px;
    left: 250px;
    bottom: 90px;
    border-radius: 8px;
    width: 1000px;
    height: 500px;
    bottom: 0;
}
.D h2{
    text-align: right;
    padding-right: 340px;
    margin-bottom: 50px;
}
.Wow input{
background-color: transparent;
 padding-left: 100px;
 border: none;
 border-bottom: 1px solid black;
}
.Wow label{
    padding-left: 200px;
}
.Wow{
    text-align: right;
    padding-right: 70px;
    margin-bottom: 50px;
}
.Wo button{
    position:relative;
    left: 600px;
    padding: 10px 20px;
    background-color: rgb(0, 100, 207);
    color: white;
    border: none;
    font-size: large;
    width: 350px;
    height: 50px;
    cursor: pointer;
}
.Wo button:hover {
    opacity: 0.9;
}
.m{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right:  600px;
    top: 300px;
    
}
.m h2{
    position: relative;
    font-size: xx-large;
    color: white;
    bottom: 300px;
}
.m button{
     font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right:  80px;
    bottom: 250px;
    border: 1px solid white;
    margin-bottom: 30px;
    width: 350px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: larger;

}
.m button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}